<label {{action "open"}}>
	{{sanitize label}}
	<svg xmlns="http://www.w3.org/2000/svg" width="300px" height="250px" viewBox="0 0 300 250">
		<polygon transform="translate(150.500000, 125.500000) scale(1, -1) translate(-150.500000, -125.500000)" points="150.5 84 259 167 42 167"></polygon>
	</svg>
</label>

<app-dropdown-cover hidden={{hidden}} role="button" onclick={{action "close"}} />

<app-dropdown-front hidden={{hidden}}>

	{{yield (hash
		group=(component "app-dropdown/group")
		option=(component "app-dropdown/option"
			input=this
			select=(action "select")
			register=(action "register")
			unregister=(action "unregister")
		)
	)}}

</app-dropdown-front>